#cinema_fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	vertical-align: middle;
	text-align: center;
	background-color: black;
	color: white;
	overflow: hidden;
}

#cinema_chat {
	position: fixed;
	top: 20%;
	right: -300px;
	width: 300px;
	height: 60%;
	z-index: 10001;
	vertical-align: middle;
	text-align: center;
	background-color: white;
	color: black;
	/*overflow: hidden;*/
}

#cinema_chat_hide {
	position: absolute;
	top: 0;
	left: -30px;
	width: 30px;
	height: 30px;
	color: white;
	cursor: grab;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("images/chat_icon_neg.png");
}

.cinema_chat_button {
	background-color: black;
}

.cinema_chat_new {
	background-color: red;
}

/* VIMEO Player responsive */
.cinema_player_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.cinema_player_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FULLSCREEN BUTTON */
#cinema_fullscreen_button {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;

	margin: 3px;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	cursor: grab;
}

.cinema_fullscreen_grow {
	background-image: url("images/fullscreen.png");
}

.cinema_fullscreen_shrink {
	background-image: url("images/fullscreen_shrink_neg.png");
}

.cinema_button {
	cursor: grab;
	border: 1px solid grey;
	padding: 3px;
	margin: 5px 5px 5px 0;
	float: left;
}

.cinema_player_status,.cinema_host_vid {
	/*border: 1px solid grey;*/
	padding: 3px;
	margin: 5px 5px 5px 0;
	float: left;
}

.cinema_button,.cinema_host_vid,.cinema_player_status {
	display: none;
}

.cinema_host_play,.cinema_player_play {
	background-color: #a0ffa0;
}

.cinema_host_pause,.cinema_player_pause {
	background-color: #ffffa0;
}

.cinema_host_stop {
	background-color: #ffa0a0;
}

.cinema_host_player {
	float: right;
	border: 1px solid grey;
	width: 400px;
	height: 300px;
}


.cinema_player_title,.cinema_host_title {
	font-size: 120%;
	font-weight: 500;
}

.cinema_chat {
	width: 300px;
}

.cinema_chat_text {
	margin-bottom: 15px;
	width: 100%;
}

.cinema_chat_input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.cinema_send_chat::after {
	clear: both;
}

.cinema_chat_list {
	width: 100%;
	height: 500px;
	overflow: auto;
}

.cinema_message {
	float: left;
	background-color: lightyellow;
}

.cinema_own_message {
	float: right;
	background-color: lightgreen;
}

.cinema_message,.cinema_own_message {
	width: 200px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	margin-bottom: 5px;
	padding: 3px;

	font-size: 10pt;
	color: black;
}

.cinema_message::after,.cinema_message::after {
	clear: both;
}
