/* ************/
/* FULLSCREEN */

#cinema_fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	vertical-align: middle;
	text-align: center;
	background-color: black;
	color: white;
}

.cinema_fullscreen_grow {
	width: 20px;
	height: 20px;
	background-image: url("images/fullscreen.png");
}

.cinema_fullscreen_shrink {
	width: 30px;
	height: 30px;
	background-image: url("images/fullscreen_shrink_neg.png");
}

#cinema_fullscreen_button {
	position: absolute;
	top: 0;
	right: 0;

	z-index: 10000;

	margin: 3px;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	cursor: grab;
}


/* **************/
/* CHAT SECTION */
#cinema_chat {
}


#cinema_chat_hide {
	position: absolute;
	top: 0;
	left: -30px;
	width: 30px;
	height: 30px;
	color: white;
	cursor: grab;

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("images/chat_icon_neg.png");
}

.cinema_chat_button {
	background-color: black;
}

.cinema_chat_new {
	background-color: red;
}

.cinema_chat {
	width: 300px;
	position: fixed;
	top: 20%;
	right: -300px;
	width: 300px;
	height: 60%;
	z-index: 100001;
	vertical-align: middle;
	text-align: center;
	color: black;
	display: none;
}

.cinema_chat_inline {
	width: 300px;
	height: 60%;
	z-index: 100001;
	vertical-align: middle;
	text-align: center;
	color: black;
}

.cinema_chat_count {
	float: left;
	font-size: 80%;
}

.cinema_chat_users {
	position: fixed;
	left: 5px;
	bottom: 5px;

	min-width: 50px;
	min-height: 50px;

	font-size: 80%;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: lightyellow;

	margin: 0px;
	padding: 5px;
}

.cinema_chat_text {
	margin: 0 0 5px 0;
	width: 100%;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 3px;
	box-sizing: border-box;
}

.cinema_chat_text input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.cinema_send_chat::after {
	clear: both;
}

.cinema_chat_list {
	width: 100%;
	height: 500px;
	overflow: auto;
}

.cinema_message {
	float: left;
	background-color: lightyellow;
}

.cinema_message_user {
	font-size: 8pt;
}

.cinema_own_message {
	float: right;
	background-color: lightgreen;
}

.cinema_message,.cinema_own_message {
	width: 200px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	margin-bottom: 5px;
	padding: 3px;

	font-size: 10pt;
	color: black;
	text-align: left;
}

.cinema_message::after,.cinema_message::after {
	clear: both;
}


/* *************************/
/* VIMEO Player responsive */

#cinema_player_wrapper {
	position: relative;
}

.cinema_player_wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
}

.cinema_player_wrapper_fullscreen {
	width: 100%;
	height: 100vh;
	padding: 0;
}

.cinema_player_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.player_window {
	position: relative;
	width: 360px;
}

@media (min-width: 1024px) {

	#cinema_host_wrapper {
		position: relative;
		float: right;
	}
	.cinema_host_wrapper {
		position: relative;
		width: 450px;
		height: 300px;
	}
}


@media (max-width: 1023px) {

	#cinema_host_wrapper {
		position: relative;
		width: 100%;
	}

	.cinema_host_wrapper {
		position: relative;
		padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
		padding-top: 0px;
		height: 0;
		overflow: hidden;
	}

}

.cinema_host_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* **************/
/* HOST SECTION */

.cinema_host_play,.cinema_player_play {
	background-color: #a0ffa0;
}

.cinema_host_pause,.cinema_player_pause {
	background-color: #ffffa0;
}

.cinema_host_stop {
	background-color: #ffa0a0;
}


.cinema_title {
	font-size: 120%;
	font-weight: 500;
}




